language: java

sudo: false

jdk:
    - oraclejdk8
    - oraclejdk11

install: true

script: ./gradlew assemble

before_cache:
    - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
    directories:
        - $HOME/.gradle/caches/
        - $HOME/.gradle/wrapper/