name: Compatibility

on:
  pull_request:
    branches:
      - master

  push:
    branches:
      - master

  schedule:
    - cron: '0 0 * * *'

jobs:
  compatibility:
    name: Compatibility with lowest version and latest EAP

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11.x.x
      - uses: actions/cache@v3.0.2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Cache verifier IDEs
        uses: actions/cache@v3.0.2
        with:
          path: ~/.pluginVerifier/ides
          key: ${{ runner.os }}-plugin-verifier
      - name: Build the plugin using Gradle
        run: ./gradlew runPluginVerifier -Pplugin.verifier.home.dir=~/.pluginVerifier
