name: Publish snapshot to JetBrains Marketplace

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v6
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          cache: 'gradle'
          cache-dependency-path: |
            ./.gradle*
            ./**/gradle-wrapper.properties
          java-version: 21.x.x
      - name: Append the current time to the snapshot version
        run: sed -i "s/^\(version.*-SNAPSHOT\)/\1-$(date +%s)/" build.gradle
      - name: Publish the snapshot
        run: ./gradlew publishPlugin
        env:
          JETBRAINS_MARKETPLACE_TOKEN: ${{secrets.JETBRAINS_MARKETPLACE_TOKEN}}
