name: Publish release

on:
  workflow_dispatch:

jobs:
  publish:
    name: Publish release to JetBrains Marketplace
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v6
      - name: Configure git
        run: |
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"
      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          cache: "gradle"
          cache-dependency-path: |
            ./.gradle*
            ./**/gradle-wrapper.properties
          java-version: 21.x.x
      - name: Get the release version
        id: version
        run: |
          VERSION_RAW=$(cat build.gradle | grep "^version" | egrep -o "([0-9].*)SNAPSHOT")
          VERSION="${VERSION_RAW//-SNAPSHOT/}"
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
      - name: Prepare the release
        run: sed -i "s/-SNAPSHOT//" build.gradle
      - name: Build the package
        run: ./gradlew buildPlugin
      - name: Create a release branch
        run: |
          git checkout -b release
          git push -u origin release
      - name: Make the release commit
        uses: EndBug/add-and-commit@v9.1.4
        with:
          add: "build.gradle"
          commit: "--signoff"
          default_author: github_actions
          message: "Release v${{ steps.version.outputs.version }}"
          push: false
      - name: Create release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: false
          files: ./build/distributions/dodona-${{ steps.version.outputs.version }}.zip
          prerelease: false
          tag_name: v${{ steps.version.outputs.version }}
      - name: Publish the version
        run: ./gradlew publishPlugin
        env:
          JETBRAINS_MARKETPLACE_TOKEN: ${{secrets.JETBRAINS_MARKETPLACE_TOKEN}}
      - name: Get the next version
        id: nextversion
        run: |
          NEXT_VERSION=$(./gradlew --console plain -q calculateNextVersion)
          echo "nextversion=$NEXT_VERSION" >> "$GITHUB_OUTPUT"
      - name: Prepare the next development cycle
        run: |
          sed -i "s/${{ steps.version.outputs.version }}/${{ steps.nextversion.outputs.nextversion }}-SNAPSHOT/" build.gradle
          sed -i "/<\/\?ul>/d" build.gradle
          sed -i "/<li>/d" build.gradle
      - name: Make the next development commit
        uses: EndBug/add-and-commit@v9.1.4
        with:
          add: "build.gradle"
          commit: "--signoff"
          default_author: github_actions
          message: "Prepare the next development cycle"
      - name: Open a pull request
        uses: repo-sync/pull-request@v2
        with:
          destination_branch: master
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pr_assignee: thepieterdc
          pr_body: Merge the release commits into the main branch.
          pr_title: Release v${{ steps.version.outputs.version }}
          source_branch: release
